body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#imgContainer{
  width: 90vw;
  height: 90vh;
  overflow: scroll;
  margin: auto;
  position: relative;
}

.refBox{
  position: absolute;
  left: 1815px;
  top: 2265px;
  width: 75px;
  height: 52px;
  border: 1px solid red;
}