body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#imgContainer{
  width: 90vw;
  height: 90vh;
  overflow: scroll;
  margin: auto;
  position: relative;
}

.refBox{
  position: absolute;
  left: 1815px;
  top: 2265px;
  width: 75px;
  height: 52px;
  border: 1px solid red;
}

.timerContainer{
  display: flex;
}

.headder{
  background-color: gray;
  color: white;
  height: 75px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 3fr) 1fr;
  text-align: center;
}

.headder > div {
  text-align: center;
  margin: auto;
}

.popup{
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  background-color: white;
  text-align: center;
  z-index: 1;
}

.profilePic {
  height: 40px;
  border-radius: 100px;
}

.signOut:hover {
  cursor: grab;
}

.topTable{
  width: 50vw;
  margin: 1vh auto;
}

.topTable > div{
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 2fr;
  border-width: 1px 1px 0px 1px;
  border-color: black;
  border-style: solid;
}

.nameField{
  border-right: 1px solid black;
}

.topTable :last-child{
  border-width: 1px 1px 1px 1px;
}

.lineYou{
  background-color: lightblue;
}

.instruction{
  margin: 2vh;
  font-size: 3vh;
}

.reset{
  margin: 1vh;
  font-size: 30px;
  background-color: gray;
  color: white;
  border-radius: 20px;
}

.scores >div{
  margin: 0.5vh;
  font-size: 20px;
}